<h2 mat-dialog-title>
  <img [src]="'assets/' + data.game.opponent.logoUrl" alt="{{ data.game.opponent.name }}" class="team-logo" />
  <span>{{ data.game.opponent.name }}</span>
</h2>

<mat-dialog-content>
  <div class="game-info">
    <div class="game-date">
      {{ data.game.gameDateTime | date:'fullDate' }} at {{ data.game.arena }}
    </div>
  </div>

  <mat-form-field appearance="outline" class="user-select">
    <mat-label>Select a user to split with</mat-label>
    <mat-select [(value)]="selectedUserId">
      <mat-option *ngFor="let user of users" [value]="user.firebaseUserId">
        {{ user.displayName }} ({{ user.remaining }} left)
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close (click)="dialogRef.close()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="!selectedUserId" (click)="confirm()">
    Confirm
  </button>
</mat-dialog-actions>