.full-width-table {
  width: 100%;
  margin-top: 1rem;
}

.tab-actions {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.draft-controls {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

mat-card {
  margin-top: 1rem;
  padding: 1rem;
}

table {
  width: 100%;
  margin-top: 0.5rem;
}
.reset-pin-button {
  margin: 0.5rem 0 0.5rem 0.75rem;
}

.add-game-form {
  max-width: 36rem;
  padding: 1rem;
  mat-form-field { display: block; margin-bottom: 0.5rem; }
}
