.draft-status {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

mat-card {
  padding: 1rem;
}

table {
  width: 100%;
}

.time {
  margin-left: auto;
  font-size: 0.8rem;
  opacity: 0.7;
}