<mat-card>
  <h2>Participants</h2>

  <table mat-table [dataSource]="participants" class="mat-elevation-z2 full-width">

    <!-- Name -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let p"> {{ p.displayName }} </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let p"> {{ p.email }} </td>
    </ng-container>

    <!-- Picked -->
    <ng-container matColumnDef="picked">
      <th mat-header-cell *matHeaderCellDef> Picked </th>
      <td mat-cell *matCellDef="let p"> {{ p.picked }} </td>
    </ng-container>

    <!-- Allotment -->
    <ng-container matColumnDef="allotment">
      <th mat-header-cell *matHeaderCellDef> Allotment </th>
      <td mat-cell *matCellDef="let p"> {{ p.allotment }} </td>
    </ng-container>

    <!-- Remaining -->
    <ng-container matColumnDef="remaining">
      <th mat-header-cell *matHeaderCellDef> Remaining </th>
      <td mat-cell *matCellDef="let p"> {{ p.remaining }} </td>
    </ng-container>

    <!-- Last Pick -->
    <ng-container matColumnDef="lastPick">
      <th mat-header-cell *matHeaderCellDef> Last Pick </th>
      <td mat-cell *matCellDef="let p"> {{ getPicksSinceLastPick(p.firebaseUserId) }} Picks ago</td>
    </ng-container>

    <!-- Longest Wait -->
    <ng-container matColumnDef="longestWait">
      <th mat-header-cell *matHeaderCellDef> Longest Wait </th>
      <td mat-cell *matCellDef="let p"> {{ getBiggestGapForUser(p.firebaseUserId) }} Picks</td>
    </ng-container>

    <!-- Progress -->
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef> Progress </th>
      <td mat-cell *matCellDef="let p">
        <mat-progress-bar mode="determinate" [value]="getProgress(p)"></mat-progress-bar>
      </td>
    </ng-container>

    <!-- Header & Row declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>